:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allProductContainer .p-card-header {
  position: relative;
}

body{
  background-color: #efefef;
}

.newbody{
  background-color: pink;
}


/* dark-mode-style */
.darkModeEnable {
  background-color: #131720;
  color: #fff;
}

.darkModeEnable aside,
.darkModeEnable aside>div {
  background-color: #131720;
}

.darkModeEnable aside {
  border-right: 1px solid #262930 !important;
}

.darkModeEnable aside>div li a {
  color: #fff;
}

.darkModeEnable aside>div li a:hover {
  color: #131720;
}

.darkModeEnable nav {
  background-color: #131720;
  color: #fff;
  border-bottom: 1px solid #262930 !important;
}

.darkModeEnable .allProductContainer .p-card, .darkModeEnable .productDetailsContainer> div {
  background-color: #151f30;
  color: #fff;;
}
